.headingContent {
  background-color: #1a1919;
  height: 2.5rem;
  width: 50%;
  margin: 0 25%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.headingContent h1 {
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 3.5rem;
}
